- var links = require("../../../../data/links.json");

header.header
  .header__top
    img.header__logo(src='../images/logo.svg', alt='Гостиница для животных')
    img.header__logo-mini(src='../images/logo-mini.svg', alt='Гостиница для животных')
    .header__right-side
      .header__contacts
        a.header__phone-link(href="tel:" + links.phoneValue) тел. #{links.phone}
        div г.Санкт-Петербург
        a.link(href=links.callback) Позвоните мне
      ul.header__social
        include ../../components/social/header
  nav.header__navigation
    ul.header__navigation-list
      each item in links.menu
        li
          a.header__navigation-link(href=item.link) #{item.text}
    a.header__navigation-link.header__navigation-link-video(href=links.video) Видеонаблюдение
