- var links = require("../../../../data/links.json");

section.safety
  picture
    source(srcset='../images/safety-cat-960.webp', type='image/webp', media='(max-width: 1024px)')
    source(srcset='../images/safety-cat-960.jpg', type='image/jpg', media='(max-width: 1024px)')
    source(srcset='../images/safety-cat-1x.webp', type='image/webp')
    source(srcset='../images/safety-cat-1x.jpg', type='image/jpg')
    img.safety__image(
      src='../images/advantages-cat-1x.jpg',
      alt='Безопасность и комфорт животных - это важно!',
      loading='lazy'
    )
  .safety__content-container
    .safety__content
      .safety__header
        h2.safety__title Безопасность и комфорт животных - это важно!
        p.safety__text Мы хотим, чтобы вы были уверены в нас, поэтому по любым вопросам вы можете писать нам на почту <a href=mailto:#{links.email} class="link">#{links.email}</a> или звонить по телефону <a href="tel:#{links.phoneValue}" class="link">#{links.phone}</a>
