- var links = require("../../../../data/links.json");

section.safety
  img.safety__image(src='../images/safety-cat.jpg' alt="Безопасность и комфорт животных - это важно!")
  .safety__content-container
    .safety__content
      .safety__header
        h2.safety__title Безопасность и комфорт животных - это важно!
        p.safety__text Мы хотим, чтобы вы были уверены в нас, поэтому по любым вопросам вы можете писать нам на почту <a href=mailto:#{links.email} class="link">#{links.email}</a> или звонить по телефону <a href="tel:#{links.phoneValue}" class="link">#{links.phone}</a>
