- var links = require("../../../../data/links.json");
  li
    a(href=links.social.instagram target="_blank" rel="noreferrer" aria-label="Перейти в instagram")
      svg(width='35', height='35', viewbox='0 0 35 35', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M17.5 0C7.83502 0 0 7.83502 0 17.5C0 27.165 7.83502 35 17.5 35C27.165 35 35 27.165 35 17.5C35 7.83502 27.165 0 17.5 0ZM13.6524 8.22306C14.648 8.17775 14.9661 8.16667 17.5009 8.16667H17.498C20.0335 8.16667 20.3505 8.17775 21.3461 8.22306C22.3397 8.26856 23.0183 8.42586 23.6133 8.65667C24.2278 8.89487 24.7469 9.21376 25.2661 9.73293C25.7853 10.2517 26.1042 10.7724 26.3433 11.3863C26.5728 11.9798 26.7303 12.658 26.7769 13.6516C26.8217 14.6472 26.8333 14.9653 26.8333 17.5001C26.8333 20.0349 26.8217 20.3522 26.7769 21.3478C26.7303 22.341 26.5728 23.0195 26.3433 23.6131C26.1042 24.2268 25.7853 24.7475 25.2661 25.2663C24.7475 25.7855 24.2276 26.1051 23.6139 26.3435C23.02 26.5743 22.341 26.7316 21.3474 26.7771C20.3519 26.8224 20.0347 26.8335 17.4997 26.8335C14.9651 26.8335 14.6472 26.8224 13.6516 26.7771C12.6582 26.7316 11.9798 26.5743 11.3859 26.3435C10.7724 26.1051 10.2517 25.7855 9.73313 25.2663C9.21415 24.7475 8.89526 24.2268 8.65667 23.6129C8.42606 23.0195 8.26875 22.3412 8.22306 21.3476C8.17795 20.352 8.16667 20.0349 8.16667 17.5001C8.16667 14.9653 8.17833 14.647 8.22286 13.6514C8.26758 12.6582 8.42509 11.9798 8.65648 11.3861C8.89565 10.7724 9.21454 10.2517 9.73371 9.73293C10.2525 9.21396 10.7732 8.89506 11.3871 8.65667C11.9805 8.42586 12.6588 8.26856 13.6524 8.22306Z',
          fill='white'
        )
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M16.6635 9.84852C16.8261 9.84827 17.001 9.84835 17.1898 9.84843L17.5008 9.84852C19.9929 9.84852 20.2882 9.85747 21.2723 9.90219C22.1823 9.9438 22.6762 10.0959 23.0052 10.2236C23.4408 10.3928 23.7513 10.595 24.0778 10.9217C24.4045 11.2483 24.6067 11.5595 24.7762 11.995C24.904 12.3236 25.0562 12.8175 25.0977 13.7275C25.1424 14.7114 25.1521 15.007 25.1521 17.4979C25.1521 19.9887 25.1424 20.2843 25.0977 21.2682C25.0561 22.1782 24.904 22.6721 24.7762 23.0007C24.6071 23.4362 24.4045 23.7464 24.0778 24.0729C23.7511 24.3995 23.441 24.6018 23.0052 24.7709C22.6766 24.8993 22.1823 25.0509 21.2723 25.0925C20.2884 25.1373 19.9929 25.147 17.5008 25.147C15.0086 25.147 14.7132 25.1373 13.7293 25.0925C12.8193 25.0505 12.3254 24.8985 11.9962 24.7707C11.5607 24.6016 11.2496 24.3993 10.9229 24.0727C10.5962 23.746 10.394 23.4357 10.2245 22.9999C10.0967 22.6713 9.94445 22.1774 9.90303 21.2674C9.85831 20.2835 9.84937 19.9879 9.84937 17.4955C9.84937 15.0031 9.85831 14.7091 9.90303 13.7252C9.94464 12.8152 10.0967 12.3213 10.2245 11.9923C10.3936 11.5567 10.5962 11.2456 10.9229 10.919C11.2496 10.5923 11.5607 10.3901 11.9962 10.2205C12.3253 10.0922 12.8193 9.9405 13.7293 9.89869C14.5904 9.8598 14.924 9.84814 16.6635 9.84619V9.84852ZM22.483 11.3985C21.8646 11.3985 21.3629 11.8995 21.3629 12.5181C21.3629 13.1364 21.8646 13.6381 22.483 13.6381C23.1013 13.6381 23.603 13.1364 23.603 12.5181C23.603 11.8997 23.1013 11.3981 22.483 11.3981V11.3985ZM12.7077 17.5C12.7077 14.853 14.8538 12.7069 17.5008 12.7069H17.5006C20.1476 12.7069 22.2932 14.853 22.2932 17.5C22.2932 20.147 20.1478 22.2921 17.5008 22.2921C14.8538 22.2921 12.7077 20.147 12.7077 17.5Z',
          fill='white'
        )
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M17.5009 14.3892C19.219 14.3892 20.6121 15.782 20.6121 17.5003C20.6121 19.2184 19.219 20.6114 17.5009 20.6114C15.7826 20.6114 14.3898 19.2184 14.3898 17.5003C14.3898 15.782 15.7826 14.3892 17.5009 14.3892V14.3892Z',
          fill='white'
        )

  li
    a(href=links.social.whatsapp target="_blank" rel="noreferrer" aria-label="Позвонить в whatsapp")
      svg(width='35', height='35', viewbox='0 0 35 35', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M35 17.5C35 27.165 27.165 35 17.5 35C7.83502 35 0 27.165 0 17.5C0 7.83502 7.83502 0 17.5 0C27.165 0 35 7.83502 35 17.5ZM18.0725 27.2362H18.0768C23.8142 27.2339 28.4805 22.5664 28.4828 16.8303C28.4839 14.0498 27.4025 11.4354 25.4379 9.46853C23.4732 7.50157 20.8605 6.41787 18.0767 6.41667C12.341 6.41667 7.67286 11.0846 7.67058 16.8221C7.6698 18.6561 8.14897 20.4462 9.05962 22.0244L7.58333 27.4167L13.0997 25.9696C14.6196 26.7986 16.3309 27.2356 18.0725 27.2362Z',
          fill='white'
        )
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M13.6711 24.2732L13.3553 24.0858L10.0818 24.9445L10.9555 21.7529L10.7499 21.4256C9.88409 20.0486 9.42682 18.457 9.42749 16.8227C9.42938 12.054 13.3094 8.17432 18.0802 8.17432C20.3904 8.17512 22.562 9.0759 24.1949 10.7108C25.8279 12.3456 26.7267 14.5186 26.7258 16.8297C26.7239 21.5988 22.8439 25.4788 18.0768 25.4788H18.0733C16.5213 25.4782 14.9991 25.0613 13.6711 24.2732ZM22.9632 19.0706C23.1446 19.1583 23.267 19.2174 23.3193 19.3047C23.3843 19.4131 23.3843 19.9337 23.1678 20.5412C22.951 21.1485 21.9123 21.7029 21.4127 21.7775C20.9647 21.8445 20.3978 21.8724 19.775 21.6744C19.3973 21.5546 18.9131 21.3947 18.2927 21.1267C15.8552 20.0742 14.2079 17.7117 13.8965 17.2652C13.8747 17.2339 13.8595 17.212 13.851 17.2007L13.8489 17.1979C13.7112 17.0143 12.7893 15.7841 12.7893 14.5109C12.7893 13.3133 13.3776 12.6855 13.6484 12.3965C13.6669 12.3767 13.684 12.3585 13.6993 12.3418C13.9376 12.0815 14.2193 12.0164 14.3926 12.0164C14.566 12.0164 14.7395 12.018 14.891 12.0256C14.9097 12.0266 14.9291 12.0265 14.9492 12.0264C15.1007 12.0255 15.2896 12.0244 15.476 12.472C15.5477 12.6443 15.6526 12.8996 15.7632 13.169C15.987 13.7137 16.2342 14.3155 16.2777 14.4026C16.3427 14.5328 16.386 14.6845 16.2993 14.8581C16.2863 14.8842 16.2743 14.9087 16.2628 14.9322C16.1977 15.0651 16.1498 15.1629 16.0393 15.2919C15.9959 15.3426 15.951 15.3973 15.9061 15.452C15.8166 15.5609 15.7272 15.6698 15.6493 15.7474C15.5191 15.8771 15.3836 16.0177 15.5353 16.2781C15.687 16.5384 16.2088 17.3898 16.9818 18.0793C17.8127 18.8204 18.5348 19.1336 18.9009 19.2924C18.9724 19.3234 19.0303 19.3485 19.0727 19.3698C19.3327 19.5 19.4843 19.4782 19.636 19.3047C19.7877 19.1312 20.286 18.5455 20.4593 18.2852C20.6326 18.025 20.806 18.0683 21.0443 18.1551C21.2827 18.2419 22.561 18.8709 22.821 19.001C22.8718 19.0264 22.9193 19.0494 22.9632 19.0706Z',
          fill='white'
        )
