- var links = require("../../../../data/links.json");
  li
    a(href=links.social.instagram target="_blank" rel="noreferrer" aria-label="Перейти в instagram")
      svg(width='43', height='43', viewbox='0 0 43 43', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M21.5 0C9.62588 0 0 9.62588 0 21.5C0 33.3741 9.62588 43 21.5 43C33.3741 43 43 33.3741 43 21.5C43 9.62588 33.3741 0 21.5 0ZM16.7728 10.1026C17.9959 10.0469 18.3868 10.0333 21.501 10.0333H21.4974C24.6125 10.0333 25.0019 10.0469 26.225 10.1026C27.4458 10.1585 28.2795 10.3518 29.0105 10.6353C29.7654 10.928 30.4032 11.3198 31.0411 11.9576C31.6789 12.595 32.0707 13.2347 32.3645 13.9889C32.6464 14.718 32.8399 15.5512 32.8973 16.772C32.9522 17.9951 32.9665 18.3859 32.9665 21.5001C32.9665 24.6143 32.9522 25.0042 32.8973 26.2273C32.8399 27.4476 32.6464 28.281 32.3645 29.0104C32.0707 29.7643 31.6789 30.4041 31.0411 31.0414C30.404 31.6793 29.7652 32.072 29.0112 32.3649C28.2817 32.6485 27.4474 32.8417 26.2267 32.8976C25.0036 32.9533 24.614 32.9669 21.4995 32.9669C18.3856 32.9669 17.995 32.9533 16.7719 32.8976C15.5514 32.8417 14.7179 32.6485 13.9883 32.3649C13.2346 32.072 12.5948 31.6793 11.9577 31.0414C11.3201 30.4041 10.9283 29.7643 10.6352 29.0101C10.3519 28.281 10.1586 27.4478 10.1025 26.2271C10.0471 25.0039 10.0332 24.6143 10.0332 21.5001C10.0332 18.3859 10.0475 17.9949 10.1023 16.7717C10.1572 15.5515 10.3507 14.718 10.635 13.9887C10.9288 13.2347 11.3206 12.595 11.9584 11.9576C12.5958 11.32 13.2356 10.9282 13.9897 10.6353C14.7188 10.3518 15.5521 10.1585 16.7728 10.1026Z',
          fill='#FF9068'
        )
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M20.4721 12.0998C20.6718 12.0995 20.8867 12.0996 21.1185 12.0997L21.5007 12.0998C24.5624 12.0998 24.9252 12.1108 26.1343 12.1657C27.2523 12.2168 27.8591 12.4036 28.2633 12.5606C28.7984 12.7684 29.1799 13.0169 29.581 13.4182C29.9823 13.8195 30.2308 14.2018 30.4391 14.7369C30.596 15.1406 30.7831 15.7474 30.834 16.8654C30.8889 18.0742 30.9009 18.4373 30.9009 21.4975C30.9009 24.5577 30.8889 24.9208 30.834 26.1296C30.7828 27.2476 30.596 27.8544 30.4391 28.2581C30.2312 28.7933 29.9823 29.1743 29.581 29.5754C29.1796 29.9767 28.7986 30.2252 28.2633 30.433C27.8595 30.5907 27.2523 30.777 26.1343 30.8281C24.9255 30.8831 24.5624 30.895 21.5007 30.895C18.4388 30.895 18.076 30.8831 16.8672 30.8281C15.7492 30.7765 15.1424 30.5897 14.7379 30.4328C14.2028 30.2249 13.8206 29.9765 13.4193 29.5752C13.0179 29.1738 12.7695 28.7925 12.5612 28.2572C12.4042 27.8535 12.2172 27.2467 12.1663 26.1287C12.1113 24.9199 12.1003 24.5568 12.1003 21.4946C12.1003 18.4325 12.1113 18.0713 12.1663 16.8625C12.2174 15.7445 12.4042 15.1377 12.5612 14.7335C12.769 14.1984 13.0179 13.8162 13.4193 13.4149C13.8206 13.0135 14.2028 12.7651 14.7379 12.5568C15.1421 12.3991 15.7492 12.2128 16.8672 12.1614C17.925 12.1136 18.3349 12.0993 20.4721 12.0969V12.0998ZM27.6216 14.0037C26.862 14.0037 26.2456 14.6194 26.2456 15.3793C26.2456 16.1389 26.862 16.7553 27.6216 16.7553C28.3813 16.7553 28.9976 16.1389 28.9976 15.3793C28.9976 14.6196 28.3813 14.0033 27.6216 14.0033V14.0037ZM15.6119 21.5001C15.6119 18.2482 18.2484 15.6116 21.5003 15.6115C24.7523 15.6115 27.3883 18.2481 27.3883 21.5001C27.3883 24.7522 24.7526 27.3876 21.5005 27.3876C18.2485 27.3876 15.6119 24.7522 15.6119 21.5001Z',
          fill='#FF9068'
        )
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M21.501 17.6778C23.6118 17.6778 25.3232 19.389 25.3232 21.5001C25.3232 23.6109 23.6118 25.3224 21.501 25.3224C19.3899 25.3224 17.6787 23.6109 17.6787 21.5001C17.6787 19.389 19.3899 17.6778 21.501 17.6778V17.6778Z',
          fill='#FF9068'
        )
  li
    a(href=links.social.whatsapp target="_blank" rel="noreferrer" aria-label="Позвонить в whatsapp")
      svg(width='43', height='43', viewbox='0 0 43 43', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M43 21.5C43 33.3741 33.3741 43 21.5 43C9.62588 43 0 33.3741 0 21.5C0 9.62588 9.62588 0 21.5 0C33.3741 0 43 9.62588 43 21.5ZM22.2033 33.4617H22.2086C29.2574 33.4588 34.9903 27.7245 34.9931 20.6772C34.9945 17.2612 33.6659 14.0492 31.2522 11.6328C28.8384 9.21624 25.6285 7.88484 22.2085 7.88336C15.1618 7.88336 9.4266 13.6182 9.42379 20.6671C9.42283 22.9204 10.0115 25.1197 11.1303 27.0585L9.31661 33.6834L16.0939 31.9055C17.9612 32.9241 20.0637 33.4609 22.2033 33.4617Z',
          fill='#FF9068'
        )
        path(
          fill-rule='evenodd',
          clip-rule='evenodd',
          d='M16.7959 29.8213L16.4079 29.591L12.3861 30.646L13.4596 26.7249L13.2069 26.3228C12.1432 24.631 11.5815 22.6756 11.5823 20.6678C11.5846 14.8091 16.3515 10.0427 22.2127 10.0427C25.051 10.0436 27.7189 11.1503 29.7251 13.1589C31.7313 15.1674 32.8356 17.8371 32.8344 20.6764C32.8321 26.5356 28.0653 31.3025 22.2086 31.3025H22.2043C20.2975 31.3018 18.4273 30.7895 16.7959 29.8213ZM28.2118 23.4296C28.4345 23.5373 28.585 23.61 28.6492 23.7173C28.7291 23.8505 28.7291 24.49 28.463 25.2364C28.1967 25.9825 26.9205 26.6635 26.3067 26.7552C25.7564 26.8375 25.06 26.8718 24.2948 26.6286C23.8308 26.4814 23.2358 26.2849 22.4737 25.9557C19.4789 24.6626 17.4551 21.7601 17.0726 21.2115C17.0458 21.1731 17.0271 21.1462 17.0166 21.1323L17.0141 21.1288C16.845 20.9033 15.7123 19.3919 15.7123 17.8277C15.7123 16.3563 16.4351 15.585 16.7678 15.23C16.7906 15.2057 16.8115 15.1833 16.8303 15.1628C17.1231 14.843 17.4692 14.7631 17.6822 14.7631C17.8951 14.7631 18.1083 14.765 18.2944 14.7744C18.3174 14.7755 18.3412 14.7754 18.3659 14.7753C18.5521 14.7742 18.7842 14.7728 19.0131 15.3227C19.1012 15.5344 19.2301 15.8482 19.366 16.1791C19.6409 16.8483 19.9446 17.5877 19.998 17.6946C20.0779 17.8546 20.1311 18.041 20.0247 18.2543C20.0087 18.2863 19.9939 18.3165 19.9798 18.3453C19.8998 18.5086 19.841 18.6287 19.7052 18.7872C19.6519 18.8495 19.5967 18.9167 19.5415 18.9839C19.4316 19.1177 19.3217 19.2515 19.226 19.3468C19.0661 19.5061 18.8997 19.679 19.086 19.9988C19.2723 20.3186 19.9134 21.3646 20.8631 22.2117C21.8839 23.1222 22.7711 23.5071 23.2209 23.7021C23.3087 23.7402 23.3798 23.7711 23.432 23.7972C23.7513 23.9572 23.9377 23.9304 24.124 23.7173C24.3104 23.5041 24.9226 22.7845 25.1355 22.4647C25.3484 22.145 25.5615 22.1983 25.8542 22.3048C26.1471 22.4115 27.7176 23.1842 28.0371 23.3441C28.0994 23.3753 28.1577 23.4035 28.2118 23.4296Z',
          fill='#FF9068'
        )
        
