- var rooms = require("../../../../../data/rooms.json");

form
  ul.booking-form__checkbox-rooms
    li.booking-form__checkbox-room
      input.booking-form__checkbox-room-input(id=rooms.comfort.id,  name='room', type='radio', value=rooms.comfort.id)
      label.booking-form__checkbox-room-label(for=rooms.comfort.id) Комфорт
    li.booking-form__checkbox-room
      input.booking-form__checkbox-room-input(id=rooms.lux.id, name='room', type='radio', value=rooms.lux.id)
      label.booking-form__checkbox-room-label(for=rooms.lux.id) Люкс

  .booking-form__number-info Подробнее о номерах <a href="#rooms" class="link link_theme_extra-mini popup-close">здесь</a>

  .booking-form__form-inputs
    #booking-calendar.booking-form__calendar-inputs
    input.input(placeholder='Ваше имя', name="name")
    input.input(placeholder='Ваш телефон', name="phone")
    input.input(placeholder='Ваш e-mail', name="email", type="email")

  input.input.booking-form__form-comments-input(placeholder='Комментарий', name="comment")

  .booking-form__cost
    .booking-form__cost-title Предварительная стоимость
    .booking-form__cost-value 2 500 р

  a.link.link_theme_normal.link_theme_mini.booking-form__cost-info(href='#') Как происходит оплата?

  .booking-form__submit
    button(type="submit", disabled).button
     .button__loader
     span.button__text Забронировать номер

  .booking-form__agreements Нажимая на кнопку, вы даете согласие на <a href='#' class="link link_theme_extra-mini">обработку своих персональных данных.</a>
  #booking-calendar-portal
