- var rooms = require("../../../../../data/rooms.json");

.room-info__room
  h3.room-info__title Номер <span>“#{rooms.comfort.name}”</span>

  .room-info__content
    .room-info__left-side
      .room-info__slider
        .room-info__slides-wrapper
          .room-info__slides.owl-carousel
            each slide in rooms.comfort.slides
              picture
                source(srcset=slide.src + "-1x.webp 1x," + slide.src + "-2x.webp 2x", type='image/webp')
                source(srcset=slide.src + "-1x.jpg 1x," + slide.src + "-2x.jpg 2x", type='image/jpg')
                img.room-info__slide(src=slide.src + "-1x.jpg", alt=slide.alt, loading='lazy')
        .room-info__thumbs
          each thumb in rooms.comfort.thumbs
            picture
              source(srcset=thumb.src + "-preview-1x.webp 1x," + thumb.src + "-preview-2x.webp 2x", type='image/webp')
              source(srcset=thumb.src + "-preview-1x.jpg 1x," + thumb.src + "-preview-2x.jpg 2x", type='image/jpg')
              img.room-info__thumb(
                src=thumb.src + "-preview-1x.jpg",
                alt=thumb.alt,
                data-slide-id=thumb.slideId,
                loading='lazy'
              )

    .room-info__right-side
      p.rooms-info__size Размеры номера (см):<br />150 х 75 х 70
      ul.room-info__info-list
        each item in rooms.comfort.composition
          li.room-info__info-list-item - #{item}

      .rooms__info-bottom 
        .room-info__cost #{rooms.comfort.price} р <span>/сутки</span>
        button.button.button_theme_borders.room-info__order-button.popup-open(
          data-popup-target-id='booking',
          data-room-id=rooms.comfort.id
        ) Забронировать номер
